/* This file is for your main application CSS */

@import 'mailchimp.css';
@import 'markdown.css';
@import 'footer.css';
@import 'topnav.css';
@import 'sidenav.css';
@import 'buttons.css';

html, body {
	height: 100%;
	background-color: #000;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.has-background-black {
	background-color: #000 !important;
}

#download-link {
	color: #fff;
}
