.red-button {
	background-color: #ff1500;
	border-color: #ff1500;
	color: #fff !important;
}

.red-button.is-hovered, .red-button:hover {
	/* Two shades darker red */
	border-color: #cc1100;
	background-color: #cc1100 !important;
	color: #fff !important;
}

.red-button.is-active, .red-button:active {
	border-color: #cc1100;
	background-color: #cc1100 !important;
	color: #fff;
}

.red-button:focus {
	box-shadow: 0 0 0 .125em #cc1100 !important;
	border-color: #cc1100 !important;
}

.red-outline-button {
	background-color: #000;
	border-color: #ff1500;
	color: #fff;
}

.red-outline-button:hover {
	color: #fff;
	/* Two shades darker red */
	border-color: #cc1100;
}

.red-outline-button.is-active, .red-outline-button:active {
	border-color: #cc1100 !important;
	color: #fff !important;
}

.red-outline-button.is-focused, .red-outline-button:focus {
	border-color: #cc1100 !important;
	color: #fff !important;
	box-shadow: 0 0 0 .125em #cc1100 !important;
}
