/* This file is for your main application CSS */

@import 'tolc/mailchimp.css';
@import 'tolc/markdown.css';
@import 'tolc/footer.css';
@import 'tolc/topnav.css';
@import 'tolc/sidenav.css';
@import 'tolc/buttons.css';

html, body {
	height: 100%;
	background-color: #000;
	font-family: 'IBM Plex Sans', sans-serif;
}

#sign-up {
	font-family: 'IBM Plex Sans', sans-serif;
}

.has-background-black {
	background-color: #000 !important;
}

#download-link {
	color: #fff;
}
